@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400);
#header, #headerSearchBackGroundImage{
	background-image: url('../img/wstr3.jpg');
	background-size: 1600 auto;	
	background-repeat: no-repeat;

}
#header{
	background-position: center top;
	/*background-size:  auto;*/
	
	padding: 120px 20% 120px 20%;
	height:120px;
}

#headerSearchBackGroundImage{
	position: absolute;
  	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	
	background-position: center -80px;
	-webkit-filter: blur(4px);
	-moz-filter   : blur(4px);
	-o-filter     : blur(4px);
	-ms-filter    : blur(4px);
	filter        : blur(4px);
}
#searchContainer {
	top:120px;
	position: fixed;
	left:20%;
	width:60%;
}

#headerSearch{
	position: relative;
	
  	padding: 20px 0px 40px 0px;
  	background: rgb(48,48,48); 
  	background: rgba(48,48,48,0.75);

  	background-position: center -10px;
  	color:white;
  	vertical-align:middle;

}
#headerSearch h2{
	display: block;
	text-align: center;
	font-family: 'Open Sans';
	font-weight:300;
	font-size: 24px;
    width: 100%;
    text-shadow:1px 1px 0px #333333;
    /*line-height: 10px;*/
}
#headerSearchText{
	
	font-family: 'Open Sans' ;
	font-weight: 300;

    /*height: 32px;*/
    width: 85%;
    display: inline-block;
	height:30px;
	vertical-align: middle;
	margin-left: 5%;
	
    
    border: 0px solid;
}
#headerSearchText:focus{
	outline: 0;
}
#headerSearchTextContainer{
	vertical-align: middle;
	/*vertical-align: top;*/
	/*vertical-align: middle;*/
	margin-left: 15%;
	position: relative;
	width: 70%;
	padding:0.5%;
	z-index: 10;
	background: white;
	box-shadow: 0px 1px 5px #777777
}

@media (max-width: 600px ) {
  #header { padding: 10px; }
  #headerSearchBackGroundImage { background-position: center -10px; }
}

#submit{
	height: 20px;
	width: 20px;
	line-height: 20px;
	
	vertical-align: middle;
	display:inline-block;
	border-radius:3px;
	cursor:pointer;
	background-color: grey;
	/*background-image:url('../img/plus.png');*/
	-webkit-mask-image:url('../img/search.png');
	-webkit-mask-size: 20px 20px;
	

	
	
	/*//box-shadow:inset 0px 1px 0px 0px #c1ed9c;*/
	/*text-decoration:none;*/
	/*text-align:center;*/
	/*vertical-align: center;*/
	/*width:10%;*/
	/*margin:.5%;*/

}
#submit {
	
	
}


#nav{
	top:0px;
	padding:0% 0%;
	width:100%;
	height:40px;
	vertical-align: middle;
	background: linear-gradient( #1B71D4,#0034A3);
	opacity: 0.85;
	position:relative;
	color:#E5E5E5;
	font-weight:bold;
}
#nav div{
    margin:0 1%;
    text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	font-size:20px;
    list-style:none;
    padding:0.5% 0.5%;
	display:inline-block;
	cursor:pointer;
	background: transparent;

}
#nav div a{
	text-decoration:none;
	color:inherit;
}

#nav div:hover,
#nav div a:hover {
    color:#FAFAFA;
}

#leftsidebar{
	margin:1% 0% 1% 1%;
	float:left;
	width:18%;
	
}
#rightsidebar{
	margin:1% 1% 1% 0%;
	width:22%;
	
	padding:1%;
	float:right;
	box-shadow: 0px 0px 3px #222222;
	background:white;
}


.sidebar{
    
    padding: 0% 0%;
	border-radius:3px;
	//box-shadow: 0px 0px 2px #333333;
	//background:FBFBFB;
}
.sidebar .menu{
	padding: 1.5% 3%;
	text-align:center;
	border-radius:3px;
	color:white;
	font-size:24px;
	background:linear-gradient(#22568a, #224b6e);
	box-shadow: 0px 1px 5px #BBBBBB;
}
.sidebar .list{
	padding: 2% 7%;
	//background:linear-gradient(white, #F0F0F0);
	cursor:pointer;
	width:86%;
	//box-shadow: 0px 1px 5px #BBBBBB;
}

.sidebar .list:last-child{
	border-radius:3px;
}
.sidebar .list:hover{
	//color:white;
	//box-shadow: 0px 1px 5px #000000;
	background:#E5E5E5;
	//background:linear-gradient(#002357, #00183b);
}


.INDEXs{
	padding: 5px 5%;
	z-index: 2;
	
	background: #252525;
	color: white;
	text-align:center;
}
.INDEXs div{
	display:inline-block;
	margin: 0 5% 0 0;
}

	
.INDEXs green{
	color:#00FF00;
	padding: 5px;
}
.INDEXs red{
	color:#FF0000;
	padding: 5px;
}


#main {
	float:left;
	left: 20%;
	width:52%;
	//height: 820px;
	padding: 1% 1%;
	margin:1%;
	border-radius:3px;
	box-shadow: 0px 0px 3px #222222;
	background:#FDFDFD;
	display:inline-block;

}


input, textarea{
	height:30px;
	font-size: 1em;
	width:85%;
	font-family: 'Open Sans';
	font-size: 16px;
	margin: 1px;
	resize:none;
	color: #333333;
}

#text2:hover ~ #help_label{
	left: 60%;
}
#triangle{
	width: 0; 
	height: 0; 
	border-bottom: 8px solid rgba(0,0,0,.8); 
	border-left: 8px solid transparent; 
	border-right: 8px solid transparent; 
	margin:0 0 0 100px;
}

#square{
	box-shadow: 0px 2px 5px rgba(0,0,0,.8);
	padding:10px;
	background:rgba(0,0,0,.8);
	font-size:14px;
	border-radius:4px;
	width:200px;
	text-align:center;
}
#help_label{
	color:white;
	position:absolute;
	display:none;
	
}



.icon{
	padding:0;
	width:30px;
	height:30px;
	vertical-align:top;
	margin: 0 0 0 3px;
	cursor:pointer;
}
.icon:hover{
	Opacity:0.8;
}

.ui-menu{
	position:absolute;
	background: white;
	list-style: none;
	box-shadow: 0px 0px 3px #333333;
	border-raduis:3px;
	padding:0px;
}
.ui-menu li{
	//font-size:1em;
	padding:5px;
	cursor:pointer;
}
.ui-menu .ui-state-focus,.ui-menu .ui-state-active{
	background: #F0F0F0;
}
.ui-helper-hidden,.ui-helper-hidden-accessible{
	display:none
}



.button{
	font-size:100%;
	padding: .5em 1em;
	background: #1CB841;
	color:white;
	display:inline-block;
	border-radius:3px;
	cursor:pointer;
	/*//box-shadow:inset 0px 1px 0px 0px #c1ed9c;*/
	text-decoration:none;
	text-align:center;
	width:8%;
	margin:.5%;
}
.button:hover{
	background: #0BA730;
}

.button2{
	font-size:100%;
	padding: .5em 1em;
	background: #0078e7;
	color:white;
	display:inline-block;
	border-radius:3px;
	cursor:pointer;
	//box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	text-decoration:none;
	text-align:center;
	width:8%;
	margin:.5%;
}
.button2:hover{
	background: #0067d6;
}



#footer {
    clear: both;
	padding:5px;
	text-align:right;
	//font-family:'Open Sans';
	position: fixed;
    right: 0px;
	bottom: 0px;
	color: #FAFAFA;
	height: 40px;
    width: 300px;
    z-index: 2;
	box-shadow: 0px 0px 2px 0px black;
    background: linear-gradient(#F5F5F5, #FEFEFE);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: 	all 0.3s ease-in-out;
    -o-transition: 		all 0.3s ease-in-out;
    -ms-transition: 	all 0.3s ease-in-out;
    transition: 		all 0.3s ease-in-out;
}
#footer:hover{
	height: 80px;
}
#copyright{
	//font-size:16px;
	width:80%;
	color:#0F0F0F;
	float:none;
	background:white;
	box-shadow: 0px 0px 3px black;
	clear:both;
	padding:2% 10%;
}

#copyright a{
	text-decoration: none;
	color:black;
	font-weight:bold;
}
#copyright a:hover{
	text-decoration: underline;
	
}
#aboutPage{
	position:absolute;
	left:15%;
	top:6em;
	display:none;
	width:40%;
	padding:5% 10%;
	font-size:16px;
	z-index:3;
	background:white;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}	
#dim{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:200%;
	display:none;
	background:transparent;
	
}
.dimPiece{
	position:absolute;
	background:black;
	Opacity:0.8;
	
}
#leftPiece	{	left:0;		top:0;	width:20%;	height:200%;}
#rightPiece	{	left:70%;	top:0;	width:100%;	height:200%;}
#topPiece	{	left:20%;	top:0;	width:50%;	height:0;	}
#bottomPiece{	left:20%;	top:0;	width:50%;	height:200%;}
#maskPiece{
	position:absolute;
	background:transparent;
	Opacity:0.8;
	box-shadow: 0 0 5px 5px black inset;
}

#tour{
	//background:transparent;
	font-size:20px;
	color:white;
	position:absolute;
	width:100%;
	height:50%;
	left:0;
	top:0;
	display:none;
	text-align:center;
}
#tour div{
	//display:inline-block;
}
.step{
	position:absolute;
	display:none;
}

.step img{
	background:white;
	border-radius:5px;
	padding:10px;
	box-shadow: 0 0 20px rgba(0,0,0,.9) inset;

}
#step1{
	display:block;
}
#step1, #step2{
	width:40%;
	top:25%;
	left:30%;
}






.datagrid table {
	
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	/*background: #fff;*/
	overflow: hidden;
	/*border: 1px solid #006699;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


	
}
.datagrid table td, .datagrid table th {
	padding: 5px 5px;
}

.datagrid div{
	/*text-align:center;*/
	/*padding: 5px;*/
	/*font-size:18px;*/
	/*width:100%;*/
	/*box-shadow: 1px 0px 1px #000000;*/
	/*cursor:pointer;*/
	
}


.datagrid div.caption{
	background: white;
	//display:inline-block;
}


.datagrid #expand{
	width:20px;
	height:20px;
	float:right;
	margin:0 10px 0 0;
	//position:relative;
	//left:95%;
	transform:rotate(-90deg);
}
.datagrid #expand:hover{
	background:#E5E5E5;
}
.datagrid div green {
	padding: 2px;
	color: green;
}
.datagrid div red {
	padding: 2px;
	color: red;
}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
	background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	background-color:#006699;
	color:#FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #00557F;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
	cursor:pointer;
}
.datagrid table tbody .alt{
	background: #E1EEf4;
	color: #00557F;
}


.datagrid table tbody td green{
	color:red;
}

.datagrid table tbody td red{
	color:green;
}

.datagrid table tbody td:first-child {
	border-left: none;
}
.datagrid table tbody tr:last-child td {
	border-bottom: 2px solid #0070A8;
}

.datagrid table tbody tr:hover{
	background: #F2F2F2;
}
.datagrid table tbody .alt:hover{
	background: #D1DEE4;
}
#myTable{
	position: relative;


}

.quoteContainerFake,
.quoteContainer{
	background:white;
	margin: 10px;
	padding:5px;
	display: inline-block;
	width:300px;
	/*height:220px;*/
	vertical-align: top;
	z-index:0;
}
.quoteContainerFake{
	/*height:200px;*/


}

.quoteContainer{

	box-shadow: 0px 0px 5px 0px black;
	position: absolute;

	border-radius:3px;
	opacity:0;
	z-index: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: 	all 0.3s ease-in-out;
	-o-transition: 		all 0.3s ease-in-out;
	-ms-transition: 	all 0.3s ease-in-out;
	transition: 		all 0.3s ease-in-out;

}
.quoteClose:hover,
.quoteContainer:hover .quoteClose{
	opacity: 1;
}

.quoteContainer div{
	width:auto;
	font-family: 'Open Sans';
	font-weight: 300;
	display: inline-block;
	padding: 6px 2px 6px 2px;
	vertical-align: bottom;


}

.quoteContainer .quoteTitle{
	font-size: 20px;
	
}
.quoteContainer .quoteName{


	font-size: 12px;
	color: #808080;
	
}

.quoteContainer .quotePrice{
	font-weight: 600;
	
	font-size: 24px;

}
.quoteContainer .quotePriceChange{
	font-weight: 400;
	font-size: 20px;
	margin-left: 1%;

}


.quoteContainer .priceChangePercentage{
	font-weight: 400;
	font-size: 20px;
}

.quoteContainer .quoteLastTradeTime{
	font-size: 12px;
	right:20px;
	float: right;

	color: #808080;

}

.quoteContainer .quoteClose{
	background-color: white;
	width:20px;
	height:20px;
	position: absolute;
	top:-10px;
	right:-10px;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: 	all 0.3s ease-in-out;
	-o-transition: 		all 0.3s ease-in-out;
	-ms-transition: 	all 0.3s ease-in-out;
	transition: 		all 0.3s ease-in-out;
}



.quoteContainer canvas{
	width:95%;
	height:150px;
	/*box-shadow: -2px 2px 2px 0px #AAAAAA;*/
	/*padding:10%;*/
	/*display: inline-block;*/

}

#testChart{
	padding: 10px;

}



#detail{
	position:absolute;
	padding:1%;
	box-shadow: 0px 0px 5px 0px black;
	background:white;
	border-radius:3px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: 	all 0.2s ease-out;
    -o-transition: 		all 0.2s ease-out;
    -ms-transition: 	all 0.2s ease-out;
    transition: 		all 0.2s ease-out;
	display:none;
	width:50%;
	z-index: 6;
	
}


#detail red{
	color:red;
	padding:0 2%;
}
#detail green{
	color:green;
	padding:0 2%;
}
#detail-table{
	width:500px;
	font-size:12px;
	text-align:left;
}
#detail-table tr td{
	//font-weight:bold;
	padding:0 0%;
}
.detail-table-caption{
	color:#505050;
	text-align:center;
}
#detail img{
	width:100%;
}
#detailChart{
	width:100%;
	height:500px;
}
#closeChart{	
}


.newsContainer{
	position:relative;
	padding:0;
	margin:1%;
	
	box-shadow: 0px 0px 5px 0px black;
	background:white;
	border-radius:3px;
	opacity: 0;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	/*width:640px;*/
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: 	all 0.1s ease-in-out;
	-o-transition: 		all 0.1s ease-in-out;
	-ms-transition: 	all 0.1s ease-in-out;
	transition: 		all 0.1s ease-in-out;

}

.newsContainer:hover{
	box-shadow: 0px 0px 15px 0px black;

}

.newsContainer:hover .newsTitleContainer{
	background: green;
	
}
.newsImageTitle{
	font-size: 24px;
	color:white;
	

}
.newsImagePublisher{
	color:white;
	width:50%;
	font-weight: 500;
	padding: 0% 2% 0% 2% ;
	
}

.newsTitle, .newsContent, .newsImageTitle{
	width:96%;
	padding:1% 2% 1% 2%;

}
.newsContent{
	color:black;
}


.newsTitle{
	font-size: 24px;
	color:black;
	
}
.newsPublisher{
	display: inline-block;
	width:50%;
	font-weight: 500;
	padding: 0% 2% 0% 2% ;

}
.newsDate{
	display: inline-block;
	color: rgb(128,128,128);
	text-align: right;
	font-weight: 300;
	width:40%;
	padding: 1% 2% 1% 2% ;

}


.newsTitleContainer{
	padding:0;
	width:96%;
	height: 0;
	position: relative;
	z-index: 4;
	
}
.newsImage{
	
	width:100%;
	z-index: 3;
	
	/*-webkit-mask  : -webkit-linear-gradient(black, black, transparent );
    -webkit-mask  : linear-gradient(black, black, transparent);*/
}
.newsImageMask{
	position: absolute;
	
	z-index: 1;
	width:100%;
	-webkit-mask: -webkit-linear-gradient(transparent, transparent 30%, black);
	-webkit-mask: linear-gradient(transparent, transparent 30%, black);
	mask: linear-gradient(transparent, transparent 30%, black);
	-webkit-filter: blur(5px) brightness(0.1);
	-moz-filter   : blur(5px) brightness(0.1);
	-o-filter     : blur(5px) brightness(0.1);
	-ms-filter    : blur(5px) brightness(0.1);
	filter        : blur(5px) brightness(0.1);

}



body,
html {
	margin:0;
	padding:0;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	color:black;
	
	//background: linear-gradient( white,#858585 );
	background: #F9F9F9;
}




















